@charset "utf-8";
@import "reset";


$pc: 1120px; // PC
$tab: 768px; // タブレット
$sp: 560px;  // スマホ
$sp-second: 425px;  // スマホ

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}


@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

@mixin sp-second {
    @media (max-width: ($sp-second)) {
      @content;
    }
  }


html{
body{
    font-family: 'Open Sans', sans-serif;  
   
    header{
        width: 100%;
        margin: 0 auto;
    
        
        .header-inner{
            max-width: 1380px;
            padding: 5px 10px;
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;


            .logo{
                width: 440px;

                @include pc{
                    width: 340px;
                }

                @include sp-second(){
                    width: 240px;
                }


            }/*logo*/

            .header-nav{

                @include tab{
                    position: fixed;
                    width: 250px;
                    top: 0;
                    right: -300px;
                    background-color: #ffffff;
                    height: 100%;
                    padding-top: 60px;
                    z-index: 100;
                    transition: .7s;
                    padding-top: 100px;
                }

                @include sp-second(){
                    width: 200px;
                }
                

                
                ul{  
                    display: flex;
                    width: 500px;
                    justify-content: space-around;
                    margin: 0 auto;

                    @include pc{
                        width: 450px;
                    }

                    @include tab{
                        width: 250px;
                        display: block;
                        text-align: center;
                    }

                    @include sp-second(){
                        width: 200px;
                    }

                    li{
                        list-style: none;
                        font-size: 18px;

                        @include tab{
                            font-size: 25px;
                            padding-bottom: 30px;
                        }

                    

                    }/*li*/

                    li:hover{
                        opacity: 0.5;
                    }/*li*/                   
                }/*ul*/
            }/*nav*/



        .btn-gnavi{
            display: none;

            @include tab{
                display: initial;
                position: fixed;
                top: 25px;
                right: 27px;
                width: 30px;
                height: 24px;
                z-index: 120;
                cursor: pointer;
                transition: all 400ms;
                -webkit-transition:all 400ms;
            }

            @include sp-second(){
                top: 17px;
            }


    span {
        @include tab{
            position: absolute;
            width: 40px;
            height: 4px;
            background: black;
            border-radius: 10px;
            -webkit-transition: all 400ms;
            transition: all 400ms
        }

    }
  
     span:nth-child(1){
        top: 0;
      }
    
      span:nth-child(2){
        top: 10px;
      }
    
      span:nth-child(3){
        top: 20px;
      }
   
    }/*g-navi*/

        .btn-gnavi.hb-open span{
            background: black;
        }

        .btn-gnavi.hb-open span:nth-child(1){
            -webkit-transform: translateY(15px) rotate(-45deg);
            transform: translateY(15px) rotate(-45deg);
        }
      
        .btn-gnavi.hb-open span:nth-child(2){
            opacity: 0;
        }
      
        .btn-gnavi.hb-open span:nth-child(3){
            -webkit-transform: translateY(-5px) rotate(45deg);
            transform: translateY(-5px) rotate(45deg);
        }
        }/*inner*/
    }/*header*/

    .mainvisual{
        height: 100%;
        position: relative;

        
        img{
            height: 60vh;
            width: 100%;
            opacity: 0.8;

            @include sp{
                height: 40vh;
            }

            @include sp-second(){
                height: 30vh;
            }
        
        
            
        }

   

        h1{
            position: absolute;
            top: 270px;
            left: 120px;
            font-size: 60px;
            letter-spacing: 6px;

            @include tab{
                font-size: 40px;
                top: 120px;
                left: 80px;
            }

            @include sp{
                font-size: 23px;
                top: 50px;
                left: 40px;
            }
        }


    }/*mainvisual*/


    .content{
        padding-bottom: 120px;
        background-image: url(../img/common/pattern.png);
        background-repeat: repeat;

        @include sp-second(){
            padding-bottom: 80px;
        }

        &_wrapper{
            width: 100%;
            max-width: 1100px;
            margin: 0 auto;

            .item{
                display: flex;
                justify-content: space-around;
                padding-top: 170px;

                @include pc{
                    width: 765px;
                    margin: 0 auto;
                    justify-content: space-between;
                }

                @include tab{
                    display: block;
                    text-align: center;
                    padding-top: 70px;
                    width: 520px;
                }

                @include sp{
                    width: 420px;
                }

                @include sp-second(){
                    width: 300px;
                }

                .item_block{
                    width: 470px;

                    @include pc{
                        width: 350px;
                    }

                    @include tab{
                        margin: 0 auto;
                        width: 500px;
                    }

                    @include sp{
                        width: 420px;
                    }

                    @include sp-second(){
                        width: 300px;
                    }

                    h2{
                        font-size: 40px;
                        margin-bottom: 28px;
                        display: inline-block;
                        position: relative;  
                        padding-bottom: 10px;  
                        
                        
                    @include sp{
                        font-size: 34px;
                    }


                    }/*h2*/

                    h2:before{
                        content: '';
                        position: absolute;
                        left: 11%;
                        bottom: 0px; /*下線の上下位置調整*/
                        display: inline-block;
                        width: 55px; /*下線の幅*/
                        height: 2px; /*下線の太さ*/
                        -moz-transform: translateX(-50%);
                        -webkit-transform: translateX(-50%);
                        -ms-transform: translateX(-50%);
                        transform: translate(-50%); /*位置調整*/
                        background-color: #E60115; /*下線の色*/   
                        
                        @include tab{
                            left: 50%;
                        }

                    }

                    h3{
                        display: block;
                        font-size: 20px;
                    }/*span*/

                    p{
                        margin-top: 35px;

                        @include tab{
                            text-align: left;
                        }

                    }

                }/*item_block*/

                img{
                    width: 480px;
                    height: 320px;

                    @include pc{
                        width: 380px;
                        height: 300px;
                    }

                    @include tab{
                        margin-top: 70px;
                        width: 480px;
                        height: 350px;    
                    }

                    @include sp{
                        width: 380px;
                        height: 300px;  
                 }

                 @include sp-second(){
                    width: 300px;
                    height: 230px;  
                }


                }

            }/*item*/

            .item:nth-child(2){
                @include tab{
                    flex-flow: row wrap;
                    display: flex;
                }

                .item_block{
                    @include tab{
                        order: 1;
                    }
                }

                img{
                    @include tab{
                        padding-top: 70px;
                        order: 2;
                        margin: 0 auto;
                    }
            }

            }

        }/*wrapper*/
    }/*content*/





.service_us{
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #F8F8F8;

    .us_item{
        text-align: center;
        margin: 0 auto;


            h2{
                font-size: 40px;
                margin-bottom: 28px;
                display: inline-block;
                position: relative;  
                padding-bottom: 10px;  
                
                @include sp{
                    font-size: 34px;
                }

                
            }/*h2*/

            h2:before{
                content: '';
                position: absolute;
                left: 50%;
                bottom: 0px; /*下線の上下位置調整*/
                display: inline-block;
                width: 55px; /*下線の幅*/
                height: 2px; /*下線の太さ*/
                -moz-transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translate(-50%); /*位置調整*/
                background-color: #E60115; /*下線の色*/    
                
                @include tab{
                    left: 50%;
                }
            }

            h3{
                display: block;
                font-size: 20px;
            }/*span*/

            .service_img{
                display: flex;
                margin: 0 auto;
                width: 700px;
                padding-top: 70px;
                padding-bottom: 30px;
                justify-content: space-around;

                @include tab{
                    width: 480px;
                }

                @include sp{
                    width: 370px;
                    padding-top: 50px;
                    padding-bottom: 20px;    
                }

                @include sp-second(){
                    flex-wrap: wrap;
                    width: 160px;
                    flex-direction: row;
                    justify-content: space-between;
                }
                   

                img{
                    margin-bottom: 30px;
                }
                   


            }

            p{
                width: 700px;
                margin: 0 auto;
                margin-bottom: 40px;


                @include tab{
                    width: 530px;
                }

                @include sp{
                    width: 400px;
                    margin-top: 0px;
                }

                @include sp{
                    width: 90%;
                }
                   
                   
                
            }

            .btn{
                width: 160px;
                background-color: #F45E5E;
                margin: 0 auto;
                text-align: center;

                @include tab{
                    margin: 0 auto;
                }
                    
                    a{
                        display: block;
                        color: white;
                        font-size: 16px;
                        padding: 12px ;
                    }
    
                    a:hover{
                        opacity: 0.7;
                    }
    
            }/*btn*/


    }/*item*/
}



.image_bottom{
    width: 100%;
    height: 350px;
    background-image: url(../img/about/bamboo_image.jpg);
    background-size: cover;
    background-position: bottom;
    position: relative;

    @include tab{
        height: 250px;
    }

    .text_block{
        text-align: center;
        padding-top: 100px;
        z-index: 2;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        width: 100%;

        @include tab{
            padding-top: 50px;
        }
    
    
        h2{
            width: 100%;
            margin-bottom: 50px;
            color: white;


        @include tab{
            margin-bottom: 30px;
            font-size: 20px;
        }

        @include sp-second(){
       width: 280px;
        }
    
        }/*h2*/

        .btn{
            width: 200px;
            background-color: #F45E5E;
            margin: 0 auto;

            @include tab{
                width: 140px;
            }    
                
                a{
                    display: block;
                    color: white;
                    font-size: 20px;
                    padding: 15px;

                    @include tab{
                        font-size: 14px;
                    }  

                }

                a:hover{
                    opacity: 0.7;
                }

        }/*btn*/
    }/*text_block*/
}/*img_bottom*/

.image_bottom::after{

    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    opacity: 0.5;
    display:block;
    z-index: 1;
}




.last_content{
    padding-top: 100px;
    padding-bottom: 140px;
    background-image: url(../img/common/pattern.png);
    background-repeat: repeat;


    @include sp-second(){
        padding-bottom: 100px;
    }


    &_wrap{
        max-width: 900px;
        margin: 0 auto;

        @include pc{
            width: 730px;
        }

        @include tab{
            text-align: center;
            max-width: 540px;
        }

        @include sp{
            max-width: 400px;
        }

        @include sp-second(){
            max-width: 300px;
        }

        h2{
            font-size: 40px;
            margin-bottom: 50px;
            display: inline-block;
            position: relative;  
            padding-bottom: 10px;  
            
            @include sp{
                font-size: 32px;
            }

        }/*h2*/

        h2:before{
            content: '';
            position: absolute;
            left: 11%;
            bottom: 0px; /*下線の上下位置調整*/
            display: inline-block;
            width: 55px; /*下線の幅*/
            height: 2px; /*下線の太さ*/
            -moz-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translate(-50%); /*位置調整*/
            background-color: #E60115; /*下線の色*/  
            
            @include tab{
                left: 50%;
            }

        }
        .item{
            display: flex;
            justify-content: space-between;

            @include tab{
                display: block;
            }

            img{
                margin-top: 25px;
                width: 300px;
                height: 300px;

                @include tab{
                    width: 250px;
                    height: 250px;    
                }
            }

            .item_block{
                width: 470px;

                @include pc{
                    width: 400px;
                }

                @include tab{
                    margin: 0 auto;
                    text-align: center;
                    padding-top: 50px;
                }

                @include sp-second(){
                    max-width: 300px;
                }

                .role_name{
                    color: #A2A2A2;
                    font-size: 25px;
                    margin-top: 0px;
                }

                h2{
                    font-size: 36px;
                    margin-bottom: 35px;
                    display: inline-block;
                    position: relative;  
                    padding-bottom: 10px;  

                    @include tab{
                        font-size: 30px;
                    }
                                      
                }/*h2*/

                h2:before{
                    content: '';
                    position: absolute;
                    left: 8%;
                    bottom: 0px; /*下線の上下位置調整*/
                    display: inline-block;
                    width: 55px; /*下線の幅*/
                    height: 2px; /*下線の太さ*/
                    -moz-transform: translateX(-50%);
                    -webkit-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    transform: translate(-50%); /*位置調整*/
                    background-color: #E60115; /*下線の色*/ 

                    @include tab{
                        left: 50%;
                    } 
                    
                   

                }

                p{
                }

            }/*item_block*/


        }/*item*/
    }/*warap*/
}




    


footer{
    width: 100%;
    margin: 0 auto;
    z-index: 1;
    padding-top: 20px;
    padding-bottom: 20px;


    .footer_inner{
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        text-align: center;


    

        .footer-nav{
            margin-top: 10px;

            @include sp-second(){
                margin-top: 20px;
            }

            

            ul{
                display: flex;
                max-width: 500px;
                width: 100%;
                justify-content: space-around;
                margin: 0 auto;
                padding-right: 15px;
                padding-left: 15px;


                @include sp-second(){
                    padding-right: 10px;
                    padding-left: 10px;  
                }


                li{
                    list-style: none;
                    font-size: 18px;

                    @include sp-second(){
                        font-size: 16px;
                    }

                }/*li*/

                li:hover{
                    opacity: 0.7;
                }

            }/*ul*/
        }/*nav*/

        .address{
            margin-top: 20px;
            color: rgb(128, 128, 128);

            @include sp{
                padding-top: 20px;
                font-size: 12px;
                width: 80%;
                margin: 0 auto;
            }


        }/*address*/

    }/*inner*/

}/*footer*/


}/*body*/
}/*html*/