
@charset "utf-8";
@import "reset";


$pc: 1024px; // PC
$tab: 768px; // タブレット
$sp: 560px;  // スマホ
$sp-second: 375px;  // スマホ

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}


@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

@mixin sp-second {
    @media (max-width: ($sp-second)) {
      @content;
    }
  }

@mixin font-type {
    font-family: 'Cabin', sans-serif;
}

@mixin font-type-second {
    font-family: 'Josefin Sans', sans-serif;    
}

@mixin  font-type-third {
    font-family: 'Noto Sans JP', sans-serif;    
}


html{
body{
    @include font-type-third;

 

    header{

      margin-bottom: 28px;
    
      img{
        position: absolute;
        z-index: -1;
        width: 25%;
      }
    
      #header-inner{
        max-width: 1300px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding-top: 30px;  
        padding-right: 15px;
        padding-left: 15px;
        box-sizing: border-box;
    
        @include tab{
          padding-top: 20px;  
        }
    
      @include sp-second{
        padding-top: 10px; 
      }
       
        
        .logo{
          @include font-type;
          font-size: 33px;
          font-weight: bold;
          width: 280px;
          color: #414141;
    
    
          @include pc {
            font-size: 2.5em;
          }
    
    
          @include sp-second {
            font-size: 2em;
          }
    
          a{
            color: #414141;
          }
    
        }/*logo*/
    
        .logo:hover{
          opacity: 0.7;
          transition: 0.5s;
        }
    
    
    
        .header-nav{
            display: none;
            @include font-type;
            position: fixed;
            height: 400px;
            background-color: #ffffff;
            width: 100%;
            color: rgb(0, 0, 0);
            text-align: center;
            position: fixed;
            top: 0%;
            left: 0%;
            z-index: 1000;
         
          ul{
            display: flex;
            list-style: none;
            font-weight: bold;
            display: inline-block;
            padding-top: 80px;
            padding-bottom: 80px;
    
        
            .g-nav{
              font-size: 24px;
              margin-left: 2.5em;
              vertical-align: middle;
              line-height: 67px;        
    
              @include pc {
                font-size: 1.4em;
                margin-left: 1.5em;
              }
    
              @include tab {
                margin-left: 0px;
              }
    
            
    
            }/*g-nav*/
    
            .g-nav:hover{
              opacity: 0.5;
              transition: 0.5s;
            }
    
          }/*ul*/
    
        }/*header-nav*/
    
      
    
    
    
    .btn-gnavi{
        display: initial;
          position: fixed;
          top: 25px;
          right: 7%;
          width: 30px;
          height: 24px;
          z-index: 4;
          cursor: pointer;
          transition: all 400ms;
          -webkit-transition:all 400ms;
    }
    
    
    .btn-gnavi{
      z-index: 1000;
      margin-top: 18px;
    
      @include sp-second{
        margin-top: 7px;
      }
       
    
      span{
              position: absolute;
              height: 3px;
              background:#414141;
              -webkit-transition: all 400ms;
              transition: all 400ms;
              right: 0;
            
            @include sp-second{
              width: 45px;
            }
      
    }/*span*/
    
      span:nth-of-type(1){
    
              top: 0;
              z-index: 1000;
              width: 40px;
    
          
    
      }/*span*/
    
      span:nth-of-type(2){
    
              top: 10px;
              z-index: 1000;
              width: 30px;
    
          
      }/*span*/
    
      span:nth-of-type(3){
              top: 20px;
              z-index: 1000;
              width: 20px;
    
          
      }/*span*/
      
    
    }/*btn-gnavi*/
    
    
    
    
    .btn-gnavi.hb-open span:nth-of-type(1) {
      -webkit-transform: translateY(10px) rotate(-45deg);
      transform: translateY(10px) rotate(-45deg);
      transition: 0.5s;
    }
    .btn-gnavi.hb-open span:nth-of-type(2) {
      opacity: 0;
    }
    .btn-gnavi.hb-open span:nth-of-type(3) {
      -webkit-transform:translateY(-10px) rotate(230deg);
      transform: translateY(-10px) rotate(45deg);
      transition: 0.5s;
      width: 40px;
    
    }
    
      }/*header-inner*/
    }/*header*/
    
    
    


.mainvisual{

    .mainvisual-wrap{
        position: relative;
        background-image: url(../img/service/service_mainvisual.png);
        background-size: cover;
        text-align: center;
        width: 95%;
        height: 777px;
        margin: 0 auto;
    
    
        @include sp-second(){
          width: 94.5%;
          margin-right: 10px;
          margin-left: 10px;
          height: 715px;
        }
    
    
        .mainvisual_text{
        
            text-align: center;
            position: absolute;
            top: 30%;
            left: 50%;
            opacity : 0;
            transform: translate(-50%, 5%);
            -webkit-transform: translate(-50%, 5%);
            -ms-transform: translate(-50%, 5%);
            transition : all 1.5s;
    
          
            h1{
              font-size: 69px;
            color: white;
             letter-spacing: 0.05em;
             font-weight: 600;
             @include font-type-second();
      
             @include sp-second(){
              font-size: 51px; 
      
            }
      
             .sub_mainvisual_text{
                 font-size:15px;
                 @include font-type-third();
                 display: block;  
                 margin-bottom: 43px;
                 font-weight: normal;
      
             }/*sub_mainvisual_text*/
      
            }/*h1*/


            .middle_text{
              margin-top: 15px;
              margin-bottom: 15px;
            }
      
          p{
              color: white;
              @include font-type-third();
              font-size: 16px;
              font-weight: normal;
              line-height: 2;

              .sp_br{
                display: initial;
      
                @include sp-second(){
                  display: initial;
                }
      
              }
      
          }/*p*/
      
      
          }/*mainvisual-text*/
      
      
          .mainvisual_text.active{
              opacity : 1;
              width: 100%;
              transform: translateX(-50%);
              -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
          }
      
      
      
      }/*mainvisual-wrap*/
    
    

.mainvisual-wrap::before {
  width: 100%;
  z-index: 0;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
  height: 777px;

  @include sp-second(){
    height: 715px;
  }
 
}
    
}/*mainvisual*/
    

.top_text_block{
    line-height: 2;
    width: 90%;
    margin: 0 auto;
    margin-top: 160px;

  
    h2{
      margin-top: 50px;
       font-size:58px;
        color: #6CD6DB;
        letter-spacing: 0.05em;
        @include font-type-second;
        text-align: center;
        line-height: 1em;
        font-weight: 600;


        @include pc{
          font-size:45px;
        }


        @include tab{
          font-size:48px;
          margin: 0 auto;
          width: 80%;
        }

        @include sp(){
          font-size:29px;
          margin-top: 90px;
        }


        span{
          font-size: 15px;
          color: #414141;
          text-align: center;
          display: block;
          @include font-type-third();
          font-weight: normal;
          line-height: 1.2em;

            @include sp{
              margin-top: 10px;
              font-size: 14px;
            }

        }/*span*/
    }/*h2*/

    p{
        font-size: 14px;
        line-height: 2;
        color: #414141;
        margin-top: 45px;
    }/*p*/
}
  


.contents{

  .content_wrap_pc{

    @include sp{
      display: none;
    }

    .item{
      background-image: url(../img/service/content_pic.png);
      background-size: cover;
      height: 526px;
      width: 50%;
      position: relative;
      opacity: 0;
      transition : all 2s;
      margin: 0 0 0 auto;
      margin-bottom: 120px;
      margin-top: 120px;

      @include pc{
        height: 426px;
        width: 60%;
      }



      @include sp-second(){
        height: 377px;
        width: 100%;
        margin-top: 45px;
        margin-bottom: 240px;  

      }



      h2{
          font-size: 84px;
          color: #6CD6DB;
          font-weight: normal;
          position: absolute;
          left: -300px;
          top: 5%;
          z-index: 2;
          opacity: 0;
          transform : translate(-30px, 0);
          -webkit-transform: translate(-30px, 0px);
          transition: all 1.5s;
          font-family: "Golden Plains - Demo";

          @include pc{
            font-size: 64px;
            left: -200px;
          }

          @include sp-second(){
            left: 15px;
            top: 71%;
            font-size: 19vw;
          }


          
          span{
              font-size: 125px;
              color: #fff;
              -webkit-text-stroke: 1px #6CD6DB;
              color: transparent;  
              vertical-align: sub;    
              @include font-type-second();   
              margin-left: 15px;  

              @include pc{
                font-size: 90px;
              }
  
              @include sp-second(){
                font-size: 22vw;
                margin-left: 15px;  

              }       
          }/*span*/

      }/*h2*/

      h2.active{
          opacity: 1;
          transform: translate(0);

      }


      .item_box{
        top: 15%;
        left: -10%;
          width: 464px;
          height: 364px;
          background-color: #FFFFFF;
          border-radius: 5px;
          padding-top: 80px;
          padding-bottom: 24px;
          padding-right: 50px;
          padding-left: 50px;
          box-shadow: 0px 3px 6px rgb(216, 216, 216);
          position: absolute;
          opacity: 0;
          transform : translate(-50%, 30px);
          -webkit-transform: translate(-50%, 30px);
          transition: all 1.5s;

          @include pc{
            padding-top: 70px;
            height: 300px;
            width: 400px;
          }

          @include sp-second(){
            top: 82%;
            left: 50%;
            width: 315px;
            padding-top: 56px;
            padding-right: 20px;
            padding-left: 20px;
          }
      

          h3{
              color: #6CD6DB;
              font-size: 20px;
              margin-bottom: 18px;
              @include font-type-third();
          }

          p{
              color: #414141;
              line-height: 2;
              font-size: 15px;
              
              @include sp-second(){
                font-size: 13px;
              }   
          }/*p*/
      }/*item_box*/


      .item_box.active{
          opacity: 1;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
      } /*item_box.active*/

  }/*item*/

  .item.active{
    opacity: 1;
}

.item_even.active{
  opacity: 1;
}


.item_even{
  background-image: url(../img/service/content_pic.png);
  background-size: cover;
  height: 526px;
  width: 50%;
  position: relative;
  opacity: 0;
  transition : all 2s;
  margin: 0 0 0 auto;
  margin-bottom: 120px;
  margin-top: 120px;
  margin-left: 0;

  @include pc{
    height: 426px;
    width: 60%;
  }



  @include sp-second(){
    height: 377px;
    width: 100%;
    margin-top: 45px;
    margin-bottom: 240px;  

  }



  h2{
      font-size: 84px;
      color: #6CD6DB;
      font-weight: normal;
      position: absolute;
      right: -340px;
      top: 5%;
      z-index: 2;
      opacity: 0;
      transform : translate(-30px, 0);
      -webkit-transform: translate(-30px, 0px);
      transition: all 1.5s;
      font-family: "Golden Plains - Demo";
      width: 450px;


      @include pc{
        font-size: 64px;
        right: -240px;
        width: 400px;
      }

      @include sp-second(){
        left: 15px;
        top: 71%;
        font-size: 19vw;
      }
      
      span{
          font-size: 125px;
          color: #fff;
          -webkit-text-stroke: 1px #6CD6DB;
          color: transparent;  
          vertical-align: sub;    
          @include font-type-second();   
          margin-left: 15px;  


          @include pc{
            font-size: 90px;
          }


          @include sp-second(){
            font-size: 24vw;
            margin-left: 15px;  

          }       
      }/*span*/

  }/*h2*/

  h2.active{
      opacity: 1;
      transform: translate(0);

  }


  .item_box_even{
    top: 15%;
    left: 120%;
      width: 464px;
      height: 364px;
      background-color: #FFFFFF;
      border-radius: 5px;
      padding-top: 80px;
      padding-bottom: 24px;
      padding-right: 50px;
      padding-left: 50px;
      box-shadow: 0px 3px 6px rgb(216, 216, 216);
      position: absolute;
      opacity: 0;
      transform : translate(-50%, 30px);
      -webkit-transform: translate(-50%, 30px);
      transition: all 1.5s;

      @include pc{
        padding-top: 70px;
        height: 300px;
        width: 400px;
        left: 95%;
      }

      @include sp-second(){
        top: 82%;
        left: 50%;
        width: 315px;
        padding-top: 56px;
        padding-right: 20px;
        padding-left: 20px;
      }
  

      h3{
          color: #6CD6DB;
          font-size: 20px;
          margin-bottom: 18px;
          @include font-type-third();
      }

      p{
          color: #414141;
          line-height: 2;
          font-size: 15px;
          
          @include sp-second(){
            font-size: 13px;
          }   
      }/*p*/
  }/*item_box*/


  .item_box_even.active{
      opacity: 1;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
  } /*item_box.active*/

}/*item_even*/
  

  }/*content_wrap_pc*/

    &_wrap{
      display: none;

      @include sp{
        display:initial;
      }

        .item{
            background-image: url(../img/service/content_pic.png);
            background-size: cover;
            width: 100%;
            position: relative;
            opacity: 0;
            transition : all 2s;
            margin: 0 0 0 auto;
            height: 377px;
            margin-top: 45px;
            margin-bottom: 340px;  

            @include sp-second(){
              margin-bottom: 290px;  
            }

            



            h2{
                font-size: 15vw;
                color: #6CD6DB;
                font-weight: normal;
                position: absolute;
                z-index: 2;
                opacity: 0;
                transform : translate(-30px, 0);
                -webkit-transform: translate(-30px, 0px);
                transition: all 1.5s;
                font-family: "Golden Plains - Demo";
                left: 65px;
                top: 67%;


                @include sp-second(){
                  font-size: 19vw;  
                  left: 15px;
                  top: 63%;
                }
                


                
                span{
                  font-size: 20vw;
                  color: #fff;
                    -webkit-text-stroke: 1px #6CD6DB;
                    color: transparent;  
                    vertical-align: sub;    
                    @include font-type-second();   
                    margin-left: 15px; 
                     

                    @include sp-second(){
                      font-size: 24vw;
                      margin-left: 12px;  
                    }       

                }/*span*/

            }/*h2*/

            h2.active{
                opacity: 1;
                transform: translate(0);

            }


            .item_box{
                width: 80vw;
                height: 300px;
                background-color: #FFFFFF;
                border-radius: 5px;
                padding-top: 80px;
                padding-bottom: 24px;
                padding-right: 50px;
                padding-left: 50px;
                box-shadow: 0px 3px 6px rgb(216, 216, 216);
                position: absolute;
                opacity: 0;
                transform : translate(-50%, 30px);
                -webkit-transform: translate(-50%, 30px);
                transition: all 1.5s;
                padding-top: 46px;
                top: 82%;
                left: 50%;

                @include sp-second(){
                  top: 75%;
                  left: 50%;
                  width: 315px;
                  height: 280px;
                  padding-top: 56px;
                  padding-right: 20px;
                  padding-left: 20px;
                }
            

                h3{
                    color: #6CD6DB;
                    font-size: 20px;
                    margin-bottom: 18px;
                    @include font-type-third();
                }

                p{
                    color: #414141;
                    line-height: 2;
                    font-size: 15px;
                    
                    @include sp-second(){
                      font-size: 13px;
                    }   
                }/*p*/
            }/*item_box*/


            .item_box.active{
                opacity: 1;
                transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
            } /*item_box.active*/


        }/*item*/


        .item.active{
            opacity: 1;
        }

    }/*content*/
}/*content_wrap*/







.access{
  margin-top: 92px;

  &-wrap{
      text-align: center;

      h2{
        font-size: 58px;
          color: #6CD6DB;
          letter-spacing: 0.05em;
          @include font-type-second;

          @include sp(){
            font-size:45px;
          }

          @include sp-second(){
            font-size:29px;
          }

      }/*h2*/

      p{
          color: #414141;
          font-size: 15px;
          
          @include sp-second(){
              font-size: 10px;
          }

      }/*p*/

      .google-map{
          margin-top: 30px;
          height: 630px;


          @include tab{
            height: 450px;
          }

          @include sp{
            height: 350px;
          }

          @include sp-second(){
              height: 287px;
          }


          iframe{
              width: 100%;
              height: 705px;

              @include tab{
                height: 450px;
              }

              @include sp{
                height: 350px;
              }

              @include sp-second(){
                  height: 287px;
              }

          }/*iframe*/

      }/*google-map*/

  }/*wrap*/
}/*access*/



.contact{

&-wrapper{
background-image: url(../img/front/room_pic.png);
background-size: cover;
background-position:center;
width: 100%;
position: relative;
height: 255px;

@include sp-second(){
  height: 128px;
}


.concept{
  display: flex;
  margin-bottom: 30px;
  z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);  


  a{
    display: flex;

  .cp_arrows {

    width: 76px;
    height: 76px;
      border-radius: 50%;/*角丸*/
      border: solid 3px #FFFFFF;

      @include sp-second(){
        width: 34px;
        height: 34px;
      }


  }
  .cp_arrows [class*='cp_arrow'] {
      position: relative;
      display: inline-block;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      vertical-align: middle;
      color: #FFFFFF;
  }
  .cp_arrows [class*='cp_arrow']:after,
  .cp_arrows [class*='cp_arrow']:before {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      content: '';
  }
  .cp_arrows [class*='cp_arrow'] {
    width: 14px;
    height: 15px;
    top: 1em;
    left: 14px;
      margin: 0.8em;
      border-width: 4px 4px 0 0;
      border-style: solid;

      @include sp-second(){
        width: 10px;
        height: 12px;  
        top: -0.3em;
        left: -3px;  
      }

  }
  .cp_arrows [class*='cp_arrow']:before,
  .cp_arrows [class*='cp_arrow']:after {
      position: absolute;
  }

  .cp_arrows [class*='cp_arrow']:before {
      top: -2px;
      right: 1.3px;
      width: 15px;
      height: 4px;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      -webkit-transform-origin: right top;
              transform-origin: right top;
      -webkit-box-shadow: inset 0 0 0 32px;
              box-shadow: inset 0 0 0 24px;
  }
  .cp_arrows [class*='cp_arrow']:after {
      top: -4px;
      left: -2px;
      -webkit-box-shadow: inset 0 0 0 32px, 16px 17px;
              box-shadow: inset 0 0 0 24px, 8px 9px;
  }

  .cp_arrows .cp_arrow_right_up {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
  }



  .concept-block{
    margin-left: 20px;

      h4{
        font-size: 44px;
          @include font-type-second();
          color: #FFFFFF;
          font-weight: 600;
          letter-spacing: 0.05em;

          @include sp(){
            font-size: 35px;
          }

          @include sp-second(){
            font-size: 20px;
          }

      }/*h4*/

      p{
        font-size: 22px;
        color: #FFFFFF;
        line-height: 1.3;

        @include sp-second(){
          font-size: 10px;
        }
      }/*p*/

  }/*concept-block*/
}/*a*/
  }/*concept*/


  .concept:hover{

    .cp_arrows {
      transform : translate(0, -8px);
      transition: 0.3s;
    }
  }/*concept:hover*/

}/*wrapper*/

.contact-wrapper::before {
  width:100%;
  height: 255px;
  z-index: 0;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(108, 214, 219, 0.9);
  
  @include sp-second(){
    height:128px;
  }
}
}/*contact*/







.footer{
padding-top: 62px;
padding-bottom: 80px;


h2{
  font-size: 57px;
  text-align: center;
  padding-bottom: 32px;
  color: #414141;
  
  @include sp-second(){
    padding-bottom: 40px;
  }

}

.footer-nav{
  display: flex;
  max-width: 340px;
  margin: 0 auto;
  width: 100%;
  justify-content: space-between;
  
  @include sp-second(){
    text-align: center;
    display: block;
  }

  .nav_block{
    position: relative;


  p{
    font-size: 17px;
    margin-bottom: 15px;
    color:#414141;
    font-weight: bold;


    @include sp-second(){
      font-size: 13px;
    }

  }

  .arrow_first::before {
    position: absolute;
    right: -30px;
    top: 12px;
    display: block;
    content: "";
    width: 12px;
    height: 2px;
    background: #6CD6DB;
    transform: rotate(135deg);

    @include sp-second(){
      right: 131px;
      top: 10px;
    }

  }

  .arrow_first::after {
    position: absolute;
    right:-30px;
    top: 7px;
    display: block;
    content: "";
    width: 11px;
    height: 11px;
    border-right: 2px solid #6CD6DB;
    border-top: 2px solid #6CD6DB;
    transform: rotate(0deg);

    @include sp-second(){
      right: 131px;
      top: 4.5px;
    }
  }

  .arrow_second::before {
    position: absolute;
    right: -25px;
    top: 12px;
    display: block;
    content: "";
    width: 12px;
    height: 2px;
    background: #6CD6DB;
    transform: rotate(135deg);


    @include sp-second(){
      right: 100px;
      top: 10px;
      }

  }

  .arrow_second::after {
    position: absolute;
    right:-25px;
    top: 7px;
    display: block;
    content: "";
    width: 11px;
    height: 11px;
    border-right: 2px solid #6CD6DB;
    border-top: 2px solid #6CD6DB;
    transform: rotate(0deg);

    @include sp-second(){
      right:100px;
      top: 4.5px;
     }


  }
}/*nav_block*/




.nav_block:hover{
  opacity: 0.8;

  .arrow_first::before {
    top: 9px;  
    transition: 0.3s;
  }

  

  .arrow_first::after {
    top: 4px;
    transition: 0.3s;

    
  }

  .arrow_second::before {
    top: 9px;
    transition: 0.3s;
  }

  .arrow_second::after {
    top: 4px;
    transition: 0.3s;
  }

}/*hover*/
}/*footer-nav*/
}
}/*body*/

}