@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-next:before

{
    position: absolute;
    right: -145px;
    top: 14px;
    display: inline-block;
    content: "";
    background-image: url(../img/slideright.png);
    height: 3px;
    background-size: contain;
    display: none;
}

@media screen and (max-width:768px) { 
    .slick-next::before{
        top: 1px;
    }
}


.slick-next::after{
  position: absolute;
  right: -115px;
  top: 14px;
  display: block;
  width: 10vw;
  height: 40px;
  background-image: url(../img/slideright.png);
  content: "";
  background-size: contain;
  display: none;


}

@media screen and (max-width:1024px) { 
    .slick-next::after{
        right: -7vw;
}
}

@media screen and (max-width:768px) { 
    .slick-next::after{
        right: -13vw;
}
}

@media screen and (max-width:425px) { 
    .slick-next::after{
        width: 60px;
        right: -14vw;
        top: 0px;

}

}



.slick-prev:before{
    position: absolute;
    right: -20vw;
    top: 18px;
    display: inline-block;
    background-image: url(../img/slideleft.png);
    width: 120px;
    height: 3px;
    background-size: contain;
    display: none;


}




.slick-prev::after{
position: absolute;
right: -25vw;
top: 14px;
display: inline-block;
content: "";
width: 10vw;
height: 40px;
background-image: url(../img/slideleft.png);
background-size: contain;
display: none;


}



@media screen and (max-width:768px) { 
    .slick-prev::after{
        width: 10vw;
        right: -18vw;
}
}

@media screen and (max-width:425px) { 
    .slick-prev::after{
        width: 60px;
        right: -21vw;
        top: 0px;
}
}


.slick-prev
{
    left: -3vw;
    z-index: 100;

}
[dir='rtl'] .slick-prev
{
    right: -55px;
    left: auto;
    z-index: 100;
}
.slick-prev:before{
}

[dir='rtl'] .slick-prev:before
{
}

.slick-next
{
    right: 20vw;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: 285px;
}
.slick-next:before
{
}
[dir='rtl'] .slick-next:before
{
}


/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;
    display: block;
    width: 50%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

@media screen and (max-width:425px) { 
    .slick-dots{
        bottom: 23px;
        right: 20px;
}
}

.slick-dots li
{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: 1;
    color: rgb(0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before
{
    opacity: 0.75;
}
